*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.hero__section{
    background: url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a{
    color: white;
    text-decoration: none;
}
.navbar__menu_container{
    display: flex;
    gap: 18px;
}

.navbar__menu_container .user_icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(60vh - 65px);
}

.hero__section_logo{
    width: 200px;
    height: 40px;
}

.hero__section_title{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 380;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 55%;
    border-radius: 10px;

}

.input_container_location,
.input_container_search{
    padding: 5px;
    border: none;
    outline: none;
}

.input_container_location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.input_container_search{
    width: 65%;
}

@media only screen and (max-width: 600px) {
    .navbar__menu_container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        height: calc(80vh - 40px);
    }
    .input_container_location,
    .input_container_search{
        padding: 18px;
        border-radius: 10px;
        width: 98%;
    }
    .hero__section_title{
        font-size: 18px;
        width: 95%;
    }
}

.container{
    margin: 3rem auto;
    width: 90%;
}

.we_offer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.we_offer_card{
    border-radius: 10px;
    /* background-color: aqua; */
    overflow: hidden;
    border: 3px solid #e0e0e0;
    transition: all 0.3s ease;
    margin-right: 12px;
}

.we_offer_card:hover{
    transform: scale(1.1);
}

.we_offer_card img{
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: center;
}

.we_offer_content{
    padding: 10px;
}

.we_offer_content h2{
    font-size: 20px;
    font-weight: 400;
}

.we_offer_content p{
    font-size: 12.5px;
}

.collections h1{
    font-weight: 600;
}

.collections .sub_heading_container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.sub_heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}

.collection_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.25rem;
}

.collection_card_container .card{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url(./images/collection1.jpg);
}

.card2{
    background-image: url(./images/collection2.jpg);
}

.card3{
    background-image: url(./images/collection3.jpg);
}

.card4{
    background-image: url(./images/collection4.jpg);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        90deg,
        rgba(0 ,0 , 0, 0.9) 0%,
        rgba(0 ,0 , 0, 0.05) 50%,
        rgba(0 ,0 , 0, 0.05) 85%,
    );
    z-index: 1;
}

.collection_card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
    z-index: 4;
}

.content h4{
    font-weight: 400;

}

.get_the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get_the_app .semicontainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get_the_app .semicontainer .left{
    flex: 2;
}

.get_the_app .semicontainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get_the_app .semicontainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem
}

.right .radio_button_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right .radio_button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .radio_button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
}

.right .input_container{
    display: flex;
    gap: 0.5rem;
}

.input_container{
    flex-wrap: wrap;
}

.input_container button,
.input_container input{
    padding: 10px 12px;
}

.input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_container button{
    border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download_app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.right .download_app_container h5{
    font-weight: 400;
    color: gray;
}

.right .download_app_container div{
    display: flex;
    gap: 1rem;
}

.right .download_app_container div img{
    width: 35%;
}

@media only screen and (max-width: 1300px){
    .get_the_app .semicontainer .left,
    .get_the_app .semicontainer .right{
        flex: 1;
    }
    .get_the_app .semicontainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px){
    .get_the_app{
        padding: 2rem;
    }
    .get_the_app .semicontainer{
        width: 95%;
        flex-direction: column;
    }
}

.explore_section{
    width: 90%;
    margin: auto;
}

.explore_section h3{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.explore_button_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore_container h4{
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 0.5rem 0 0.5rem;
}

.explore_container{
    padding: 1.1rem;
    width: 100%;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 1rem;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 2px grey;
}

.explore_content_container{
    display: none;
}

.explore_content_container li{
    color: grey;
    list-style-position: inside;
    margin: 0.8rem 0.8rem 0 0;
}

.explore_content_container li a{
    color: grey;
    text-decoration: none;
}

.explore_content_container ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    margin: 0 0.5rem 0 0.5rem;
}

.explore_content_container li:first-child{
    list-style-type: none;
}

.explore_container label{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore_container input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~.explore_content_container{
    display: block;
    margin-top: 0.5rem;
}

input[type="checkbox"]:checked ~label i{
    transform: rotate(180deg);
}

.cities ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer{
    width: 100%;
}

.footer_section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer_section1 img{
    width: 130px;
}

.section1_button_container{
    display: flex;
    gap: 1rem;
}

.section1_button_container button{
    padding: 5px;
    width: 90px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.navigation_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link_container h5{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.footer_links{
    text-decoration: none;
    color: gray;
    font-size: 12.5px;
    font-weight: 300;
}

.footer_links:hover{
    color: black;
}

.section_link_container button{
    background-color: black;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.section_link_container button i{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_section_logos{
    width: 100%;
}

.disclaimer{
    color: gray;
    margin: auto;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}

@media only screen and (max-width: 900px){
    .navigation_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .cities ul{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px){
    .navigation_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .cities ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 320px){
    .navigation_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .cities ul{
        grid-template-columns: repeat(1, 1fr);
    }
}